/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.light-green {
	background-color: #c4d9c6;
}

body.dark-green{
	color: #0a1f1d;
}

a.button-orange{
	background-color: #f9893e;
	border: 1px solid #F88132;
}

a.button-orange:hover{
	background-color: #CF5706;
	border: 1px solid #CF5707;
}

.footer{
	margin-top:-20px;
	margin-bottom: 20px;
	font-size: 7pt;
}

.pad-top{ 
	margin-top:10px;
}

.navbar-im {
	width:40px;
}