// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-im {
	width: 70px;
	margin-left:5px;
	margin-right:-5px;
}