<center>
  <br>
    <div class="jumbotron col-lg-10 col-lg-offset-1 light-green">

    	<h1>New Experiment</h1>
    	<hr>

<%= render partial: 'form', locals: {cancel_path: experiments_path, cancel_text: "Cancel"} %>
</div>
</center>